.main {
  color: red;
}

.sdfsdf {
  color: white;
}

body {
  background-color: red;
  height: 100vh;
  width: 100vw;
}

.dfgfg {
  color: white;
}

body {
  background-color: red;
}

.dfgfg {
  color: white;
}

body {
  background-color: red;
}

.dfgfg {
  color: white;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: white;
}

body {
  background-color: white;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: red;
}

body {
  background-color: white;
}

body {
  background-color: white;
}

body {
  background-color: red;
}
body {
  background-color: red;
}